
	body{
	    color: black; 
		margin: auto;
		font-family: Verdana;
        background-color: #1487c9;
		max-width: 700px;
	    _width: 700px;
	
	}
.chat_fonas{box-shadow:inset 0 0 1px 1px #587330;background:#c8dd80;padding:2px;margin-top:5px;border-radius:3px;}
table.box {border: 1px solid #aaaaaa; border-spacing: 0px;}

table.table {border: 1px solid #aaaaaa; border-collapse: collapse; border-spacing: 0px;}
.table th {border: 1px solid #aaaaaa; padding: 4px; color: black; background-color: #eeeeee;}
.table td {border: 1px solid #aaaaaa; padding: 4px;}
	
	
	.in{
	
	    color: black;
		margin: 0;
		padding: 0;
		border: 1px solid black;
        background-color: white;
	
	}
	
	.logo{
	
	    color:#000000;
        background: url(blue_h.png) repeat-x top #404b54;

        text-align: left;
	
    }
	
.buy {
	float: left;
	width: 189px;
	margin-left: 12px;
	display: inline;
	padding-bottom: 10px;
}
	
	.ab{
	
        font-size: 10px;
		color: white;
        text-align: left;
        background: url(imgs/ab.gif) repeat-x top #455059;
        border-bottom: 1px solid #0f1316;
        padding: 3px; 
        padding-left: 6px;
	
    }
	
		.head{
	
        font-size: 10px;
		color: white;
        text-align: left;
        background: url(imgs/ab.gif) repeat-x top #455059;
        border-bottom: 1px solid #0f1316;
        padding: 3px; 
        padding-left: 6px;
	
    }
	
	.rek{
	
        margin-top: 2px;
        font-size: 12px;
        text-align: left;
        background-color: #a3ca3b;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
        padding:3px;
    
    }
	
    .line{
	
        margin: 3px 0px 3px 0px;
		border-top: 1px dashed #779031;
    }
	
    .meniu{
	
		color: #000000;
        margin: 2px 0px 2px 0px;
		padding: 4px;
        font-size: 12px;
        text-align: left;
        background-color: #adc4ff;
	
    }
	
	.foot{
	
        margin-top: 2px;
		padding: 4px 0px 0px 0px;
        font-size: 14px;
	    color: #ffffff;
        background-color: #acd04a;
        background-image: url(blue_f.png);
        background-repeat: repeat-x;
        height: 36px;
        text-align: center;
	
    }
		.end{
	
        margin-top: 2px;
		padding: 4px 0px 0px 0px;
        font-size: 14px;
	    color: #ffffff;
        background-color: #acd04a;
        background-image: url(/blue_f.png);
        background-repeat: repeat-x;
        height: 36px;
        text-align: center;
	
    }
			.info{
	
        margin-top: 2px;
		padding: 4px 0px 0px 0px;
        font-size: 14px;
	    color: #ffffff;
        background-color: #acd04a;
        background-image: url(imgs/f.gif);
        background-repeat: repeat-x;
        height: 36px;
        text-align: center;
	
    }
	
	ul,li{
	
	    margin: 0 0 0 10px;
	    padding: 0px;
	
	}
	
    .raudona{color: #ff0000;}
    .raudona2{color: #ed2e2e;}
    .melyna{color: #0000ff;}
    .zalia{color: #168a07;}
    .geltona{color: #bfb513;}
    .pilka{color: #959090;}
    .oaze{color: #b743a2;}
    .plus_g{color: #53831a;}
    .plus_o{color: #d52603;}
	
    a{
	
	    color: #000000;
		text-decoration: none;
	
	}
	
    a:hover {
	
	    color: #ffffff;
		text-decoration: none;
	
	}


.topbar a{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background-color: #1487c9;
	padding: 1px 3px 1px 3px;
	border: 1px solid #405D7A;
	border-radius: 3px;
}

.topbar a:hover{
	color: #e7e7e7;
	background-color: #0873bd;
	border: 1px solid #21a4ff;
}

input.button { background: #7ea730; color: #fff; font-size: inherit; margin-top: 5px;  border: 1px solid #405D7A; padding: 8px; margin: 4px; }

.send{
	color: #383838;
	background-color: #e6eaed;
	padding: 2px;
	margin: 3px 0px 3px 0px;
	border: 1px solid #a0acb5;
	border-radius: 3px;
}

.got{
	background-color: #dae1e5;
	padding: 2px;
	margin: 3px 0px 3px 0px;
	border: 1px solid #6f8798;
	border-radius: 3px;
}
.sistem_got{
	background-color: #ffcc66;
	padding: 2px;
	margin: 3px 0px 3px 0px;
	border: 1px solid #6f8798;
	border-radius: 3px;
}


input,select,textarea { 
	background: #F2F2F2;
	border: #A3A3A3 solid 1px;
	padding-left: 7px;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	border-radius: 7px;
	margin: 2px; 
	color: #3F3F3F;
}
span.vert{margin-bottom:5px; font-size: 14px;display:inline-block; vertical-align: middle;}
input[type="submit"] {
border-radius: 4px; 
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color:#5188D0;
background-image: -webkit-linear-gradient(bottom, #eb5d10 0%, #f2de00 100%);
background-image: -moz-linear-gradient(bottom, #eb5d10 0%, #f2de00 100%);
background-image: -o-linear-gradient(bottom, #eb5d10 0%, #f2de00 100%);
color: #fff;
padding: 5px 7px 5px 7px;
border: 1px solid #db5314;
text-shadow: 0 1px 0 #6f6f6f;
box-shadow: inset 0px 1px 0px #F7EAD7;
}
input[type="submit"]:hover {
border-radius: 4px; 
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background: #f7773b;
color: #fff;
padding: 5px 7px 5px 7px;
text-shadow: 0 1px 0 #6f6f6f;
-webkit-box-shadow:0 0 1px 0 #fff;
box-shadow: 0px 1px 0px #fff;
-moz-box-shadow: 0px 1px 3px #d6d6d6;
}
input[type="submit"]:active {
background-image: -webkit-linear-gradient(bottom, #eb5d10 0%, #f7773b 100%);
background-image: -moz-linear-gradient(bottom, #eb5d10 0%, #f7773b 100%);
background-image: -o-linear-gradient(bottom, #eb5d10 0%, #f7773b 100%);
box-shadow: inset 0 1px 4px #495c9b;
-moz-box-shadow: inset 0 1px 3px #495c9b;
position: relative;
}

.thumbsup {
    border: 0 none;
    cursor: default;
    margin: 10px auto 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    color:#1d1d1d;
}
.thumbsup input, .thumbsup button, .thumbsup label {
    cursor: pointer;
}
.thumbsup input::-moz-focus-inner {
    border: 0 none;
}
.thumbsup.thumbs_up_down {
    background: url("vote_big.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    height: 27px;
    text-align: center;
    width: 198px;
}
.thumbsup.thumbs_up_down .result1 {
    width:66px;
    text-align:center;
    height:27px;
    line-height:27px;
    position:absolute;
    left: 0;
}
.thumbsup.thumbs_up_down .result2 {
    width:66px;
    text-align:center;
    height:27px;
    line-height:27px;
    position:absolute;
    right: 0;
}
.thumbsup.thumbs_up_down input {
    background: url("vote_big.png") no-repeat scroll 50px 0 transparent;
    border: 0 none;
    height: 27px;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 33px;
}


.thumbsup.thumbs_up_down input.up {
    left: 66px;
}
.thumbsup.thumbs_up_down input.down {
    right: 66px;
}
.thumbsup.thumbs_up_down input.up:hover, 
.thumbsup.thumbs_up_down input.up:focus {
    background-position: -198px 0;
}
.thumbsup.thumbs_up_down input.down:hover, 
.thumbsup.thumbs_up_down input.down:focus {
    background-position: -231px 0;
}
.thumbsup.thumbs_up_down input.up:active {
    background-position: -265px 0;
}
.thumbsup.thumbs_up_down input.down:active {
    background-position: -297px 0;
}





form .clearfix.error>label,form .clearfix.error .help-block,form .clearfix.error .help-inline{color:#b94a48;}
form .clearfix.error input,form .clearfix.error textarea{color:#b94a48;border-color:#ee5f5b;}form .clearfix.error input:focus,form .clearfix.error textarea:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7;}
form .clearfix.error .input-prepend .add-on,form .clearfix.error .input-append .add-on{color:#b94a48;background-color:#fce6e6;border-color:#b94a48;}
form .clearfix.warning>label,form .clearfix.warning .help-block,form .clearfix.warning .help-inline{color:#c09853;}
form .clearfix.warning input,form .clearfix.warning textarea{color:#c09853;border-color:#ccae64;}form .clearfix.warning input:focus,form .clearfix.warning textarea:focus{border-color:#be9a3f;-webkit-box-shadow:0 0 6px #e5d6b1;-moz-box-shadow:0 0 6px #e5d6b1;box-shadow:0 0 6px #e5d6b1;}
form .clearfix.warning .input-prepend .add-on,form .clearfix.warning .input-append .add-on{color:#c09853;background-color:#d2b877;border-color:#c09853;}
form .clearfix.success>label,form .clearfix.success .help-block,form .clearfix.success .help-inline{color:#468847;}
form .clearfix.success input,form .clearfix.success textarea{color:#468847;border-color:#57a957;}form .clearfix.success input:focus,form .clearfix.success textarea:focus{border-color:#458845;-webkit-box-shadow:0 0 6px #9acc9a;-moz-box-shadow:0 0 6px #9acc9a;box-shadow:0 0 6px #9acc9a;}
form .clearfix.success .input-prepend .add-on,form .clearfix.success .input-append .add-on{color:#468847;background-color:#bcddbc;border-color:#468847;}

